$color_1: #00d0f1;
$color_2: #0dd9f9;
$color_3: #333;
$color_4: #888;
$color_5: #f8f9fa;
$color_6: #474648;
$color_7: #979797;
$color_8: #699834;
$color_9: #e84646;
$color_10: #009efb;
$color_11: #ffbc34;
$color_12: #7460ee;
$color_13: #757575;
$color_14: #b8bdc1;
$color_15: #00d0f1;
$color_16: #fff;
$color_17: #7bb13c;
$color_18: #212529;
$color_19: #ababab;
$color_20: #e6e6e6;
$color_21: #c580ff;
$color_22: #a3a3a3;
$color_23: #5ae8ff;
$color_24: #ebebeb;
$color_25: #20e3ff;
$color_26: #f1f1f1;
$color_27: #6c757d;
$color_28: #4c4c4c;
$color_29: #a0a0a0;
$color_30: #4b75bd;
$color_31: #989c9e;
$color_32: #777;
$color_33: #ffd200;
$color_34: #ccc;
$color_35: rgba(50, 65, 72, 0.4);
$color_36: rgba(50, 65, 72, 0.4);
$color_37: #8a8a8a;
$color_38: #2c80ff;
$color_39: #00d285;
$color_40: #fc0;
$color_41: #66676b;
$color_42: #616161;
$color_43: #05bdd8;
$color_44: #272b41;
$color_45: #20c0f3;
$color_46: #272b41;
$color_47: #000;

// backGroundColor
$background-color_1: #f8f9fa;
$background-color_2: rgba(0, 0, 0, 0.1);
$background-color_3: #f7f7f7;
$background-color_5: rgba(255, 255, 255, 0.3);
$background-color_6: #fff;
$background-color_7: #00d0f1;
$background-color_8: #19c1dc;
$background-color_9: #7bb13c;
$background-color_10: #699834;
$background-color_11: #009efb;
$background-color_12: #ffbc34;
$background-color_13: #e9ab2e;
$background-color_14: #e84646;
$background-color_15: #e63333;
$background-color_16: #9368e9;
$background-color_17: #7460ee;
$background-color_18: #757575;
$background-color_19: #b8bdc1;
$background-color_20: #00d0f1;
$background-color_21: #028ee1;
$background-color_22: rgba(2, 182, 179, 0.12);
$background-color_23: rgba(17, 148, 247, 0.12);
$background-color_24: rgba(242, 17, 54, 0.12);
$background-color_25: rgba(255, 152, 0, 0.12);
$background-color_26: rgba(15, 183, 107, 0.12);
$background-color_27: rgba(197, 128, 255, 0.12);
$background-color_28: rgba(40, 52, 71, 0.12);
$background-color_29: #fafafa;
$background-color_30: #f5f5f5;
$background-color_31: rgba(0, 0, 0, 0.2);
$background-color_32: #f9f9f9;
$background-color_33: #1b5a90;
$background-color_34: #19c1dc;
$background-color_35: #00d0f1;
$background-color_36: #e0001a;
$background-color_37: #55ce63;
$background-color_38: #ccc;
$background-color_39: transparent;
$background-color_40: #4b75bd;
$background-color_41: #fe5240;
$background-color_42: #e5e5e5;
$background-color_43: #177dff;
$background-color_44: #ffc107;
$background-color_45: #ffffcc;
$background-color_46: #f4f4f4;
$background-color_47: #e0e3e4;
$background-color_48: #f5f5f6;
$background-color_49: #a0a0a0;
$background-color_50: #00bf6f;
$background-color_51: rgb(27 90 144);

// borderColor
$border-color_1: #dcdcdc;
$border-color_2: transparent;
$border-color_3: rgba(0, 0, 0, 0.05);
$border-color_4: #09dca4;
$border-color_5: #00cc52;
$border-color_6: #028ee1;
$border-color_7: #e9ab2e;
$border-color_8: #e63333;
$border-color_9: #09e5ab;
$border-color_10: #00e65b;
$border-color_11: #009efb;
$border-color_12: #ffbc34;
$border-color_13: #ff0100;
$border-color_14: #e6e6e6;
$border-color_15: #20c0f3;
$border-color_16: #bbb;
$border-color_17: #dcdcdc;
$border-color_18: #ccc;
$border-color_19: #ffffff;
$border-color_20: #01cae4;
$border-color_21: #0db9f2;
$border-color_22: #fb1612;
$border-color_23: #0de0fe;
$border-color_24: #e9e9e9;
$border-color_25: #f3f3f3;
$border-color_26: #f0f0f0;

// borderTopColor

$border-top-color_1: #ddd;
$border-top-color_2: #20c0f3;
$border-top-color_3: rgb(221, 221, 221);

// borderBottomColor
$border-bottom-color_1: rgb(221, 221, 221);
$border-bottom-color_2: #20c0f3;
$border-bottom-color_3: #ddd;

// borderRightColor
$border-right-color_1: rgb(221, 221, 221);

// borderLeftcolor
$border-left-color_1: rgb(221, 221, 221);
$border-left-color_2: transparent;
$border-left-color_3: #20c0f3;

// FontFamily

$font-family_1: "Font Awesome 5 Pro";
$font-family_2: 'Material Icons';
$font-family_3: "Poppins",
  sans-serif;
$font-family_4: 'slick';
$font-family_5: "Font Awesome 5 Free";
$font-family_6: 'Roboto',
  sans-serif;

// FontSize

$font-size_1: 2rem;
$font-size_2: 1.75rem;
$font-size_3: 1.375rem;
$font-size_4: 1rem;
$font-size_5: 0.875rem;
$font-size_6: 0.75rem;
$background-color:#f8f9fa;
$color:#272b41;
$font-family:'Poppins',
sans-serif;
$anchor-color:#2e3842;
$a-hoverColor:#09dca4;
$transition:all 0.4s ease;
//Styling
body {
    background-color: $background-color;
    color: $color;
    font-family: $font-family;
    font-size: 0.9375rem;
    height: 100%;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color;
    font-weight: 500;
}

.h1,
h1 {
    font-size: 2.25rem;
}

.h2,
h2 {
    font-size: 1.875rem;
}

.h3,
h3 {
    font-size: 1.5rem;
}

.h4,
h4 {
    font-size: 1.125rem;
}

.h5,
h5 {
    font-size: 1rem;
}

.h6,
h6 {
    font-size: 0.875rem;
}

a {
    color:$anchor-color;
    text-decoration: none;
  
  
  &:hover {
    color:$a-hoverColor;
  }
  
  &:hover,
  &:active,
  &:focus {
    outline: none;
    text-decoration: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px $background-color inset !important;
}
input,
button,
a {
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
