$color_1: #272b41;
$color_2: #2E3842;
$color_3: #09dca4;
$color_4: #333;
$color_5: #858585;
$color_6: #888;
$color_7: #474648;
$color_8: #09e5ab;
$color_9: #00cc52;
$color_10: #ff0100;
$color_11: #009efb;
$color_12: #ffbc34;
$color_13: #7460ee;
$color_14: #757575;
$color_15: #fff;
$color_16: #00e65b;
$color_17: #212529;
$color_18: #ababab;
$color_19: #20c0f3;
$color_20: #a6a6a6;
$color_21: #1db9aa;
$color_22: #2196f3;
$color_23: #e63c3c;
$color_24: #f39c12;
$color_25: #26af48;
$color_26: #c580ff;
$color_27: #283447;
$color_28: #383838;
$color_29: #b8b8b8;
$color_30: transparent;
$color_31: #bbb;
$color_32: #676767;
$color_33: #2d3b48;
$color_34: rgba(0, 0, 0, 0.5);
$color_35: #484848;
$color_36: #000;
$color_37: #0de0fe;
$color_38: #3d3d3d;
$color_39: #d4d4d4;
$color_40: #1e5c92;
$color_41: black;
$color_42: #28a745;
$color_43: #dedfe0;
$color_44: #f4c150;
$color_45: #a2a1a1;
$color_46: #ffffff;
$color_47: #f1f1f1;
$color_48: #2e3842;
$color_49: #979797;
$color_50: #666;
$color_51: #555;
$color_52: #4E4852;
$color_53: #3e3e3e;
$color_54: #ccc;
$color_55: #f2b600;
$color_56: #959595;
$color_57: #e48784;
$color_58: #8a8a8a;
$color_59: #9f9f9f;
$color_60: rgba(50, 65, 72, 0.4);
$color_61: #777;
$color_62: #2c80ff;
$color_63: #00d285;
$color_64: #495463;
$color_65: #797979;
$color_66: #727272;
$color_67: #999;
$color_68: #ABB0BE;
$color_69: #515783;
$color_70: rgb(46, 56, 66);
$color_71: rgb(30, 92, 146);
$color_72: #c0c0c0;
$color_73: #7f7f7f;
$color_74: #ffff;
$font-family_1: 'Material Icons';
$font-family_2: "Poppins",
sans-serif;
$font-family_3: 'slick';
$font-family_4: "Font Awesome 5 Free";
$font-family_5: 'Roboto',
sans-serif;
$font-family_6: inherit;
$font-family_7: "Font Awesome 5 Pro";
$background-color_1: #f8f9fa;
$background-color_2: #f7f7f7;
$background-color_3: rgba(255, 255, 255, 0.3);
$background-color_4: rgba(235, 235, 235, 0.4);
$background-color_5: #fff;
$background-color_6: #09e5ab;
$background-color_7: #09dca4;
$background-color_8: #00e65b;
$background-color_9: #00cc52;
$background-color_10: #009efb;
$background-color_11: #028ee1;
$background-color_12: #ffbc34;
$background-color_13: #e9ab2e;
$background-color_14: #ff0100;
$background-color_15: #e63333;
$background-color_16: #9368e9;
$background-color_17: #f62d51;
$background-color_18: transparent;
$background-color_19: #20c0f3;
$background-color_20: #0de0fe;
$background-color_21: rgba(2, 182, 179, 0.12);
$background-color_22: rgba(17, 148, 247, 0.12);
$background-color_23: rgba(242, 17, 54, 0.12);
$background-color_24: rgba(255, 152, 0, 0.12);
$background-color_25: rgba(15, 183, 107, 0.12);
$background-color_26: rgba(197, 128, 255, 0.12);
$background-color_27: rgba(40, 52, 71, 0.12);
$background-color_28: #eee;
$background-color_29: #fafafa;
$background-color_30: #f5f5f5;
$background-color_31: #a0a0a0;
$background-color_32: rgba(13, 13, 13, 0.33);
$background-color_33: #fc6075;
$background-color_34: rgba(0, 0, 0, 0.2);
$background-color_35: rgba(0, 0, 0, 0.6);
$background-color_36: #15558d;
$background-color_37: #e5e5e5;
$background-color_38: #3a559f;
$background-color_39: #dd4b39;
$background-color_40: #fb1612;
$background-color_41: #01cae4;
$background-color_42: #0db9f2;
$background-color_43: unset;
$background-color_44: rgba(32, 192, 243, 0.2);
$background-color_45: #28a745;
$background-color_46: #dc3545;
$background-color_47: #fcfcfc;
$background-color_48: #e9e9e9;
$background-color_49: #42c0fb;
$background-color_50: #d9534f;
$background-color_51: #f5f5f6;
$background-color_52: #e3e3e3;
$background-color_53: #e0e3e4;
$background-color_54: #fbfbfb;
$background-color_55: #f06060;
$background-color_56: rgba(0, 0, 0, 0.5);
$background-color_57: rgba(255, 255, 255, 0.2);
$background-color_58: #3474ac;
$background-color_59: inherit;
$border-color_1: #dcdcdc;
$border-color_2: transparent;
$border-color_3: rgba(0, 0, 0, 0.05);
$border-color_4: #09dca4;
$border-color_5: #09e5ab;
$border-color_6: #00cc52;
$border-color_7: #00e65b;
$border-color_8: #028ee1;
$border-color_9: #009efb;
$border-color_10: #e9ab2e;
$border-color_11: #ffbc34;
$border-color_12: #e63333;
$border-color_13: #f62d51;
$border-color_14: #ff0100;
$border-color_15: #e6e6e6;
$border-color_16: #20c0f3;
$border-color_17: #bbb;
$border-color_18: #dcdcdc transparent transparent;
$border-color_19: transparent transparent #dcdcdc;
$border-color_20: #ccc transparent transparent;
$border-color_21: transparent transparent #ccc;
$border-color_22: transparent transparent #ffffff #ffffff;
$border-color_23: #01cae4;
$border-color_24: #0db9f2;
$border-color_25: #fb1612;
$border-color_26: #ccc;
$border-color_27: #0de0fe;
$border-color_28: #e9e9e9;
$border-color_29: #f3f3f3;
$border-color_30: #f0f0f0;
$border-color_31: transparent transparent #fff #fff;
$border-color_32: transparent #fff #fff transparent;
$border-color_33: transparent transparent transparent #20c0f3;
$border-top-color_1: #ddd;
$border-top-color_2: #20c0f3;
$border-top-color_3: rgb(221, 221, 221);
$border-right-color_1: rgb(221, 221, 221);
$border-bottom-color_1: #20c0f3;
$border-bottom-color_2: #ddd;
$border-bottom-color_3: rgb(221, 221, 221);
$border-left-color_1: rgb(221, 221, 221);
$border-left-color_2: transparent;
$border-left-color_3: #20c0f3;

.header-nav {
    background-color: $background-color_5;
}

.main-nav {

    >li {
        .submenu {

            >li.has-submenu {
                >a {
                    &::after {
                        font-family: $font-family_4;
                    }
                }
            }
        }
    }

    a {
        color: $color_36;
    }
}

.header-contact-img {
    display: inline-block;

    i {
        color: $color_34;

    }

    svg {

        color: $color_73;
    }
}

.header-contact-detail {

    p.contact-header {
        color: $color_35;

    }

    p.contact-info-header {
        color: $color_36;

    }

    p.contact-info-header.white-font {
        color: $color_15;
    }
}

.header-navbar-rht {

    li {
        .dropdown-menu {

            &::before {

                border-color: $border-color_22;

            }

            a {
                &:hover {
                    color: $color_3;

                    background-color: $background-color_5;
                }
            }
        }

        a.header-login {
            &:hover {
                background-color: $background-color_6;
                border-color: $border-color_5;
                color: $color_15;
            }

            color: $color_8;

        }
    }

    .dropdown-menu {

        .dropdown-item {

            &:hover {
                color: $color_3;
            }
        }
    }


}

@media (min-width: 992px) {
    .main-nav {

        li {

            >ul {
                background-color: $background-color_5;

            }

            .submenu {
                &::before {

                    border-color: $border-color_31;

                }

                a {
                    &:hover {
                        color: $color_3;

                    }
                }
            }
        }

        // .has-submenu.active {
        // 	>a {
        // 		color: $color_3;
        // 	}
        // 	.submenu {
        // 		li.active {
        // 			>a {
        // 				color: $color_3;
        // 			}
        // 		}
        // 	}
        // }

        >.has-submenu {
            >.submenu {
                >.has-submenu {
                    >.submenu {
                        &::before {

                            border-color: $border-color_32;
                        }
                    }
                }
            }
        }
    }



    .footer {
        background-color: $background-color_36;

       

        .footer-widget.footer-menu {
            ul {
              

                li {
                    a {
                        &:hover {
                            color: $color_15;
                            
                        }
                    }
                }
            }
        }

        .footer-widget {
          

            .footer-about-content {
                p {
                    color: $color_15;

               
                }
            }
        }

        .footer-menu {
            ul {
                li {
                   


                    a {
                        color: $color_15;
                      

                        &::before {
                         
                            font-family: $font-family_4;
                          
                        }
                    }
                }
            }
        }

        .footer-bottom {
            .copyright {
          
            }

            .copyright-text {
                p {
                    color: $color_15;
                    font-size: 15px;
                    a {
                        color: $color_8;
                        

                        &:hover {
                            color: $color_15;
                        }
                    }
                }

           
            }
        }

        .social-icon {
            ul {
                li {
                    a {
                        color: $color_15;
                  

                        &:hover {
                            color: $color_8;
                        }
                    }
                }
            }
        }
    }

    .footer-title {
        color: $color_15;
      
    }

    .footer-contact-info {
        color: $color_15;
    }



}