@import '../../assets/scss/globalVariables.scss';
.password{

    .form-group {
        margin-bottom: 1.25rem;
    }

    .form-control {
        border-color: $border-color_1;
        color: $color_4;
        font-size: 15px;
        min-height: 46px;
        padding: 6px 15px;
    
        &::-webkit-input-placeholder {
            color: $color_5;
            font-size: 14px;
        }
    
        &::-moz-placeholder {
            color: $color_5;
            font-size: 14px;
        }
    
        &:-ms-input-placeholder {
            color: $color_5;
            font-size: 14px;
        }
    
        &::-ms-input-placeholder {
            color: $color_5;
            font-size: 14px;
        }
    
        &::placeholder {
            color: $color_5;
            font-size: 14px;
        }
    
        &:focus {
            border-color: $border-color_17;
            box-shadow: none;
            outline: 0 none;
        }
    }

    .submit-section {
        .submit-btn {
            padding: 12px 30px;
            font-weight: 600;
            font-size: 16px;
            min-width: 120px;
    
            + {
                .submit-btn {
                    margin-left: 15px;
                }
            }
        }
    }
}