@import "../../assets/scss/globalVariables.scss";
.scheduleTiming{
    .schedule-widget {
        border-radius: 4px;
        min-height: 100px;
    }
       .schedule-header {
        h4 {
            font-size: 18px;
            font-weight: 600;
            margin: 3px 0 0;
        }
    
        border-bottom: 1px solid #f0f0f0;
        border-radius: 4px 4px 0 0;
        padding: 10px 20px;
    }
    .schedule-nav {
	.nav-tabs {
		border: 0 !important;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;

		li {
			margin: 0px 5px;
			display: inline-block;

			&:last-child {
				margin-right: 0;
			}

			button.active {
				background: #ff4877;
				border: 1px solid #ff4877 !important;
				color: $color_15;
			}
		}

		>li {
			>button {
				border: 1px solid #dcddea;
				border-radius: 4px;
				padding: 6px 15px;
				text-transform: none;
                &:hover {
                    border: none;
                }
			}
		}

		button.active {
			background: #ff4877;
			border: 1px solid #ff4877 !important;
			color: $color_15;
		}
	}

	button {
        width: 113px;
        font-weight: normal;
        border: 1px solid #ccc;
		border-radius: 4px;
        background-color: #fff;
        color: black;
	}

	.nav-link {
		
		border-radius: 4px;

		&:hover {
			background: #eee !important;
			color: $color_36 !important;
		}
	}

	.tab-view {
		.nav-link {
			width: 113px;
			font-weight: normal;
            padding: 7px 0px;
		}
        .nav-item {
			width: 113px;
			font-weight: normal;
            border: none;
		}
        
	}

	.tab-content {
		.nav-link {
			border: none;

			&:hover {
				background: #fff !important;
			}
		}
	}
}

.tab-content {
    padding-top: 19px;
}

}