$background-color_6: #09e5ab;
$background-color_7: #09dca4;
$border-color_4: hsl(164, 92%, 45%);
$color_15: #fff;
$border-color_5: #09e5ab;

.login-btn {
	font-size: 18px;
	font-weight: 500;
}
.disable{
	background-color: rgb(198, 195, 195);
	pointer-events: none;
}
.btn-primary {
	background-color: $background-color_6;
	border: 1px solid #09e5ab;
	&:hover {
		background-color: $background-color_7;
		border: 1px solid #09dca4;
	}
	&:focus {
		background-color: $background-color_7;
		border: 1px solid #09dca4;
	}
	&:active {
		background-color: $background-color_7;
		border: 1px solid #09dca4;
		&:focus {
			background-color: $background-color_7;
			border: 1px solid #09dca4;
			&:not(:disabled) {
				&:not(.disabled) {
					box-shadow: unset;
				}
			}
		}
		&:hover {
			background-color: $background-color_7;
			border: 1px solid #09dca4;
		}
		&:not(:disabled) {
			&:not(.disabled) {
				background-color: $background-color_7 !important;
				border-color: $border-color_4 !important;
				color: $color_15;
			}
		}
	}
	&:disabled {
		background-color: $background-color_6;
		border-color: $border-color_5;
		color: $color_15;
	}
}

.btn {
	&:focus {
		box-shadow: inherit;
		box-shadow: unset;
	}
}